/* ───────────────────────── */
/* PANEL ROOT                */
/* ───────────────────────── */

.ui-panel {
  width: 100%;
  max-width: 370px;

  background: white;
  border-radius: 12px;

  display: flex;
  flex-direction: column;

  border: 1px solid #e5e7eb;

  box-shadow: 0px 8px 15px 0px #1414141f;
  box-shadow: 0px 0px 4px 0px #1414141a;
}

/* ───────────────────────── */
/* HEADER                    */
/* ───────────────────────── */

.ui-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 0;
}

.ui-panel-title {
  font-size: 14px;
  font-weight: 500;
  color: #111827;
}

/* ───────────────────────── */
/* DIVIDER                   */
/* ───────────────────────── */

.ui-panel-divider {
  height: 1px;
  background-color: #e5e7eb;
  margin: 5px 16px;
}

/* ───────────────────────── */
/* CONTENT                   */
/* ───────────────────────── */

.ui-panel-content {
  display: flex;
  flex-direction: column;

  padding: 10px 0;
}

/* The checkbox rows already handle their own padding */

/* ───────────────────────── */
/* FOOTER                    */
/* ───────────────────────── */

.ui-panel-footer {
  padding: 14px 20px;
}
